<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo1.dao.UserMapper">
    <sql id="BaseSql">
        id,
        username,
        age
    </sql>

    <update id="truncateTable">
        truncate table `user`
    </update>

    <select id="selectUserById" parameterType="integer" resultType="com.example.demo1.entity.User">
        SELECT
        <include refid="BaseSql"/>
        FROM `user`
        WHERE
        id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.demo1.entity.User">
        SELECT
        <include refid="BaseSql"/>
        FROM `user`
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.example.demo1.entity.User">
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username!=null">
                username,
            </if>
            <if test="age!=null">
                age,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username!=null">
                #{username},
            </if>
            <if test="age!=null">
                #{age},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="list">
        update `user`
        <trim prefix="set" suffixOverrides=",">
            age =
            <foreach collection="list" item="item" open="case " close=" end,">
                when id = #{item.id} AND username = #{item.username} then #{item.age}
            </foreach>
            description =
            <foreach collection="list" item="item" open="case " close=" end,">
                when id = #{item.id} AND username = #{item.username} then #{item.description}
            </foreach>
            height =
            <foreach collection="list" item="item" open="case " close=" end,">
                when id = #{item.id} AND username = #{item.username} then #{item.height}
            </foreach>
        </trim>
        <where>
            <foreach collection="list" item="item" open="( " separator=") or (" close=" )">
                id = #{item.id} AND username = #{item.username}
            </foreach>
        </where>
    </update>
</mapper>
